<section class="bestsellers-section">
  <div class="container">
    <h2 class="bestsellers-title">Бестселлери</h2>
    <ul class="bestsellers-list-mob">
      <li class="bestsellers-item-mob">
        <picture>
          <source
            srcset="
              ./images/phone/bestsellers/bestsell01.webp    1x,
              ./images/phone/bestsellers/bestsell01@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/phone/bestsellers/bestsell01.jpg    1x,
              ./images/phone/bestsellers/bestsell01@2x.jpg 2x
            "
          />
          <img
            src="./images/phone/bestsellers/bestsell01.jpg"
            alt="cake image"
            class="bestsellers-img"
          />
        </picture>
        <div class="bestsellers-desc">
          <div class="bestsell-text-wrap">
            <p class="bestsell-text">Мусовий торт “Манго-маракуйя”</p>
            <p class="bestsell-text">1200 грн/ 3 кг</p>
          </div>
          <svg class="bestsell-icon">
            <use
              href="./images/sprite.svg#icon-shopping"
              width="30"
              height="30"
            ></use>
          </svg>
        </div>
      </li>
      <li class="bestsellers-item-mob">
        <picture>
          <source
            srcset="
              ./images/phone/bestsellers/bestsell02.webp    1x,
              ./images/phone/bestsellers/bestsell02@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/phone/bestsellers/bestsell02.jpg    1x,
              ./images/phone/bestsellers/bestsell02@2x.jpg 2x
            "
          />
          <img
            src="./images/phone/bestsellers/bestsell02.jpg"
            alt="cake image"
            class="bestsellers-img"
          />
        </picture>
        <div class="bestsellers-desc">
          <div class="bestsell-text-wrap">
            <p class="bestsell-text">Шоколадне тістечко брауні</p>
            <p class="bestsell-text">300 грн/ 3шт</p>
          </div>
          <svg class="bestsell-icon">
            <use
              href="./images/sprite.svg#icon-shopping"
              width="30"
              height="30"
            ></use>
          </svg>
        </div>
      </li>
    </ul>
    <ul class="bestsellers-list-desc">
      <li class="bestsellers-item-desc">
        <picture>
          <source
            srcset="
              ./images/desktop/bestsellers/bestsell01.webp    1x,
              ./images/desktop/bestsellers/bestsell01@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/bestsellers/bestsell01.jpg    1x,
              ./images/desktop/bestsellers/bestsell01@2x.jpg 2x
            "
          />
          <img
            src="./images/desktop/bestsellers/bestsell01.jpg"
            alt="cake image"
            class="bestsellers-img-desk"
          />
        </picture>
        <div class="bestsellers-desc">
          <div class="bestsell-text-wrap">
            <p class="bestsell-text">Мусовий торт “Манго-маракуйя”</p>
            <p class="bestsell-text">1200 грн/ 3 кг</p>
          </div>
          <svg class="bestsell-icon">
            <use
              href="./images/sprite.svg#icon-shopping"
              width="30"
              height="30"
            ></use>
          </svg>
        </div>
      </li>
      <li class="bestsellers-item-desc">
        <picture>
          <source
            srcset="
              ./images/desktop/bestsellers/bestsell02.webp    1x,
              ./images/desktop/bestsellers/bestsell02@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/bestsellers/bestsell02.jpg   1x,
              ./images/desktop/bestsellers/bestsell02@2x.jpg 2x
            "
          />
          <img
            src="./images/desktop/bestsellers/bestsell02.jpg"
            alt="cake image"
            class="bestsellers-img-desk"
          />
        </picture>
        <div class="bestsellers-desc">
          <div class="bestsell-text-wrap">
            <p class="bestsell-text">Шоколадне тістечко брауні</p>
            <p class="bestsell-text">300 грн/ 3шт</p>
          </div>
          <svg class="bestsell-icon">
            <use
              href="./images/sprite.svg#icon-shopping"
              width="30"
              height="30"
            ></use>
          </svg>
        </div>
      </li>
      <li class="bestsellers-item-desc">
        <picture>
            <source
              srcset="
                ./images/desktop/bestsellers/bestsell03.webp    1x,
                ./images/desktop/bestsellers/bestsell03@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/desktop/bestsellers/bestsell03.jpg   1x,
                ./images/desktop/bestsellers/bestsell03@2x.jpg 2x
              "
            />
            <img
              src="./images/desktop/bestsellers/bestsell03.jpg"
              alt="cake image"
              class="bestsellers-img-desk"
            />
          </picture>
        <div class="bestsellers-desc">
          <div class="bestsell-text-wrap">
            <p class="bestsell-text">Тістечка Шу</p>
            <p class="bestsell-text">400 грн/ 6 шт</p>
          </div>
          <svg class="bestsell-icon">
            <use
              href="./images/sprite.svg#icon-shopping"
              width="30"
              height="30"
            ></use>
          </svg>
        </div>
      </li>
    </ul>
    <a href="" class="bestsellers-btn">Переглянути весь асортимент</a>
  </div>
</section>
