<section>
    <div class="container">
        <h2 class="bestsellers-title">Бестселлери</h2>
        <ul class="bestsellers-list-mob">
            <li class="bestsellers-item-mob">
                <picture>
                    <source
                      srcset="
                      
                        ./images/phone/bestsellers/bestsell01.webp   1x,
                        ./images/phone/bestsellers/bestsell01@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/phone/bestsellers/bestsell01.jpg    1x,
                        ./images/phone/bestsellers/bestsell01@2x.jpg 2x
                      "
                    />
                    <img
                      src="./images/phone/bestsellers/bestsell01.jpg"
                      alt="cake image"
                      class="bestsellers-img"
                    />
                  </picture>
                  <div class="bestsellers-desc">
                    <div class="bestsell-text-wrap">
                        <p class="bestsell-text">Мусовий торт “Манго-маракуйя”</p>
                        <p class="bestsell-text">1200 грн/ 3 кг</p>
                    </div>
                    <svg class="bestsell-icon">
                        <use
                        href="./images/sprite.svg#icon-shopping"
                          width="30"
                          height="30"
                        ></use>
                      </svg>
                  </div>
            </li>
            <li class="bestsellers-item-mob">
                <picture>
                    <source
                      srcset="
                      
                        ./images/phone/bestsellers/bestsell02.webp   1x,
                        ./images/phone/bestsellers/bestsell02@2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/phone/bestsellers/bestsell02.jpg    1x,
                        ./images/phone/bestsellers/bestsell02@2x.jpg 2x
                      "
                    />
                    <img
                      src="./images/phone/bestsellers/bestsell02.jpg"
                      alt="cake image"
                      class="bestsellers-img"
                    />
                  </picture>
                  <div class="bestsellers-desc">
                    <div class="bestsell-text-wrap">
                        <p class="bestsell-text">Шоколадне тістечко брауні</p>
                        <p class="bestsell-text">300 грн/ 3шт</p>
                    </div>
                    <svg class="bestsell-icon">
                        <use
                        href="./images/sprite.svg#icon-shopping"
                          width="30"
                          height="30"
                        ></use>
                      </svg>
                  </div>
            </li>
        </ul>
        <div class="bestsell-pagination"></div>
        <a href="" class="bestseller-btn">Переглянути весь асортимент</a>
    </div>
</section>