<section>
  <div class="container catalog-container">
    <h2 class="visually-hidden">Каталог</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
       
        <picture>
            <source
              media="(min-width: 768px)"
              srcset="
              
                ./images/desktop/catalog/catalog-1.webp    1x,
                ./images/desktop/catalog/catalog-1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/desktop/catalog/catalog-1.png    1x,
                ./images/desktop/catalog/catalog-1@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/phone/catalog/catalog-1.webp    1x,
                ./images/phone/catalog/catalog-1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/phone/catalog/catalog-1.png    1x,
                ./images/phone/catalog/catalog-1@2x.png 2x
              "
            />
            <img
              src="./images/phone/catalog/catalog-1.png"
              alt="cake"
              class="catalog-img"
            />
          </picture>
        <a href="" class="catalog-link btn">Торти</a>
      </li>
      <li class="catalog-item">
        <picture>
            <source
              media="(min-width: 768px)"
              srcset="
              
                ./images/desktop/catalog/catalog-2.webp    1x,
                ./images/desktop/catalog/catalog-2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/desktop/catalog/catalog-2.png    1x,
                ./images/desktop/catalog/catalog-2@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/phone/catalog/catalog-2.webp    1x,
                ./images/phone/catalog/catalog-2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/phone/catalog/catalog-2.png    1x,
                ./images/phone/catalog/catalog-2@2x.png 2x
              "
            />
            <img
              src="./images/phone/catalog/catalog-2.png"
              alt="shu"
              class="catalog-img"
            />
          </picture>
        <a href="" class="catalog-link btn">Шу</a>
        <a href=""></a>
      </li>
      <li class="catalog-item">
        <picture>
            <source
              media="(min-width: 768px)"
              srcset="
              
                ./images/desktop/catalog/catalog-3.webp    1x,
                ./images/desktop/catalog/catalog-3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/desktop/catalog/catalog-3.png    1x,
                ./images/desktop/catalog/catalog-3@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/phone/catalog/catalog-3.webp    1x,
                ./images/phone/catalog/catalog-3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/phone/catalog/catalog-3.png    1x,
                ./images/phone/catalog/catalog-3@2x.png 2x
              "
            />
            <img
              src="./images/phone/catalog/catalog-3.png"
              alt="cakes"
              class="catalog-img"
            />
          </picture>
        <a href="" class="catalog-link btn">Тістечка</a>
      </li>
      <li class="catalog-item">
        <picture>
            <source
              media="(min-width: 768px)"
              srcset="
              
                ./images/desktop/catalog/catalog-4.webp    1x,
                ./images/desktop/catalog/catalog-4@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/desktop/catalog/catalog-4.png    1x,
                ./images/desktop/catalog/catalog-4@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/phone/catalog/catalog-4.webp    1x,
                ./images/phone/catalog/catalog-4@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/phone/catalog/catalog-4.png    1x,
                ./images/phone/catalog/catalog-4@2x.png 2x
              "
            />
            <img
              src="./images/phone/catalog/catalog-4.png"
              alt="pizza"
              class="catalog-img"
            />
          </picture>
        <a href="" class="catalog-link btn">Піцца</a>
      </li>
    </ul>
  </div>
</section>
