<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <!-- <div class="flex-for-mobile">
      </div> -->
      <div class="footer-info">
        <address>
          <p class="phone-title">с. Хотів, вул. Партизанська 1А</p>
          <ul class="flex-items">
            <li class="info-items">
              Email:<a href="mailto:kostromaganna@gmail.com" class="info-link"
                >kostromaganna@gmail.com</a
              >
            </li>
            <li class="info-items">
              Tel:<a href="tel:+38(099) 987 62 40" class="info-link"
                >+38(099) 987 62 40</a
              >
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-logo">
        <img src="./images/phone/logoGrann 2.webp" alt="" class="footer-img" />
      <div class="flex-for-mobile">
        <div class="footer-info">
          <address>
            <p class="phone-title">с. Хотів, вул. Партизанська 1А</p>
            <ul class="flex-items">
              <li class="info-items">
                Email:<a href="mailto:kostromaganna@gmail.com" class="info-link"
                  >kostromaganna@gmail.com</a
                >
              </li>
              <li class="info-items">
                Tel:<a href="tel:+38(099) 987 62 40" class="info-link"
                  >+38(099) 987 62 40</a
                >
              </li>
            </ul>
          </address>
        </div>
        <div class="footer-logo">
          <img
            src="./images/phone/logoGrann 2.webp"
            alt=""
            class="footer-img"
          />
        </div>
      </div>

      <div class="footer-networks">
        <ul class="networks-list">
          <li class="networks-item">
            <a href="" class="networks-link">
              <svg class="networks-icon">
                <use
                  href="./images/sprite.svg#icon-Instagram"
                  width="34"
                  height="34"
                ></use>
              </svg>
            </a>
          </li>
          <li class="networks-item">
            <a href="" class="networks-link">
              <svg class="networks-icon">
                <use
                  href="./images/sprite.svg#icon-Telegram"
                  width="34"
                  height="34"
                ></use>
              </svg>
            </a>
          </li>
          <li class="networks-item">
            <a href="" class="networks-link">
              <svg class="networks-icon">
                <use
                  href="./images/sprite.svg#icon-whatsapp"
                  width="34"
                  height="34"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="networks-text">Політика конфіденційності</p>
        <p class="networks-text">Договір оферти</p>
      </div>
    </div>
  </div>
</footer>
