<header class="header">
  <div class="container">
    <nav class="main-nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="" class="nav-link">Бестселлери</a></li>
          <li class="nav-item"><a href="" class="nav-link">Каталог</a></li>
        </ul>
        <a href="/" class="header-logo">
          <img src="./images/logo.svg" alt="" />
        </a>
        <div class="nav-right">
          <ul class="nav-list">
            <li class="nav-item"><a href="" class="nav-link">Доставка</a></li>
            <li class="nav-item"><a href="" class="nav-link">Про мене</a></li>
          </ul>
  
        <button class="burger-btn header-btn"> 
          <svg class="burger-icon header-icon"> 
            <use href="./images/sprite.svg#icon-burger" width="32" height="17"></use>
          </svg>
        </button>
        <button class="header-btn shopping-btn">
          <svg class="shopping-icon header-icon"> 
            <use href="./images/sprite.svg#icon-shopping" width="30" height="30"></use>
          </svg>
        </button>
        </div>

    </nav>
  </div>
</header>
