<section class="hero-section">
  <!-- <div class="container hero-container"> -->
    <h1 class="hero-title">GRANN</h1>
    <p class="hero-text">авторські десерти</p>
    <div class="hero-content">
      <!-- <div class="hero-left"></div> -->
      <ul class="social-list">
        <li class="social-item">
          <a href="" class="social-link">
            <svg class="social-icon">
              <use
                href="./images/sprite.svg#icon-Telegram"
                width="24"
                height="24"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="" class="social-link">
            <svg class="social-icon">
              <use
                href="./images/sprite.svg#icon-Facebook"
                width="24"
                height="24"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="" class="social-link">
            <svg class="social-icon">
              <use
                href="./images/sprite.svg#icon-Instagram"
                width="24"
                height="24"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
      <a href="" class="hero-btn btn">До каталогу</a>
    
  <!-- </div> -->
</section>
