<section class="instagram">
  <div class="container">
    <div class="instagram-wrapper">
      <h2 class="instagram-title">Instagram</h2>
      <ul class="instagram-collection" data-target="carousel">
        <li class="instagram-item" data-target="card">
          <picture>
            <source
              srcset="
                ./images/desktop/bowl_of_berries.png            1x,
                ./images/desktop_2x_squoosh/bowl_of_berries.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/desktop/bowl_of_berries.webp                 1x,
                ./images/desktop_2x_squoosh/bowl_of_berries_webp.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <img
              src="./images/desktop/bowl_of_berries.png"
              alt="миска ягід"
              class="instagram-img"
            />
          </picture>
        </li>
        <li class="instagram-item" data-target="card">
          <picture>
            <source
              srcset="
                ./images/desktop/cream_with_raisins.png            1x,
                ./images/desktop_2x_squoosh/cream_with_raisins.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/desktop/cream_with_raisins.webp                 1x,
                ./images/desktop_2x_squoosh/cream_with_raisins_webp.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />

            <img
              src="./images/desktop/cream_with_raisins.png"
              alt="родзинковий крем"
              class="instagram-img"
            />
          </picture>
        </li>
        <li class="instagram-item" data-target="card">
          <picture>
            <source
              srcset="
                ./images/desktop/breakfast.png            1x,
                ./images/desktop_2x_squoosh/breakfast.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/desktop/breakfast.webp                 1x,
                ./images/desktop_2x_squoosh/breakfast_webp.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />

            <img
              src="./images/desktop/breakfast.png"
              alt="сніданок"
              class="instagram-img"
            />
          </picture>
        </li>
        <li class="instagram-item" data-target="card">
          <picture>
            <source
              srcset="
                ./images/desktop/piece_of_cheese_cake.png            1x,
                ./images/desktop_2x_squoosh/piece_of_cheese_cake.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/desktop/piece_of_cheese_cake.webp                 1x,
                ./images/desktop_2x_squoosh/piece_of_cheese_cake_webp.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />

            <img
              src="./images/desktop/piece_of_cheese_cake.png"
              alt="сирний торт"
              class="instagram-img"
            />
          </picture>
        </li>
        <li class="instagram-item" data-target="card">
          <picture>
            <source
              srcset="
                ./images/desktop/cake.png            1x,
                ./images/desktop_2x_squoosh/cake.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/desktop/cake.webp                 1x,
                ./images/desktop_2x_squoosh/cake_webp.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />

            <img
              src="./images/desktop/cake.png"
              alt="торт"
              class="instagram-img"
            />
          </picture>
        </li>
        <li class="instagram-item" data-target="card">
          <picture>
            <source
              srcset="
                ./images/desktop/woman.png            1x,
                ./images/desktop_2x_squoosh/woman.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/desktop/woman.webp                 1x,
                ./images/desktop_2x_squoosh/woman_webp.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />

            <img
              src="./images/desktop/woman.png"
              alt="жінка"
              class="instagram-img"
            />
          </picture>
        </li>
      </ul>
      <div class="pagination-wrapper">
        <button class="pagination-btn" type="button" data-action="slideLeft">
          <svg class="pagination-svg">
            <use href="./images/sprite.svg#icon-Arrow-3"></use>
          </svg>
        </button>
        <nav class="pagination-nav" data-target="pagination">
          <a href="#" class="pagination-link" data-target="dot"
            ><svg class="pagination-svg-ellipse">
              <use
                href="./images/sprite.svg#icon-Ellipse-16"
                width="11"
                height="11"
              ></use>
            </svg>
          </a>
          <a href="#" class="pagination-link" data-target="dot"
            ><svg class="pagination-svg-ellipse">
              <use
                href="./images/sprite.svg#icon-Ellipse-16"
                width="11"
                height="11"
              ></use>
            </svg>
          </a>
          <a href="#" class="pagination-link" data-target="dot"
            ><svg class="pagination-svg-ellipse">
              <use
                href="./images/sprite.svg#icon-Ellipse-16"
                width="11"
                height="11"
              ></use>
            </svg>
          </a>
          <a href="#" class="pagination-link" data-target="dot"
            ><svg class="pagination-svg-ellipse">
              <use
                href="./images/sprite.svg#icon-Ellipse-16"
                width="11"
                height="11"
              ></use>
            </svg>
          </a>
          <a href="#" class="pagination-link" data-target="dot"
            ><svg class="pagination-svg-ellipse">
              <use
                href="./images/sprite.svg#icon-Ellipse-16"
                width="11"
                height="11"
              ></use>
            </svg>
          </a>
          <a href="#" class="pagination-link" data-target="dot"
            ><svg class="pagination-svg-ellipse">
              <use
                href="./images/sprite.svg#icon-Ellipse-16"
                width="11"
                height="11"
              ></use>
            </svg>
          </a>
        </nav>
        <button class="pagination-btn" type="button" data-action="slideRight">
          <svg class="pagination-svg">
            <use href="./images/sprite.svg#icon-Arrow-2"></use>
          </svg>
        </button>
      </div>
      <button class="instagram-btn">Завітати на сторінку</button>
    </div>
  </div>
</section>