<article class="modal">
  <div class="modal-wrapper">
    <div class="wrapper-button">
      <button class="close-btn modal-btn">
        <svg class="close-icon">
          <use
            href="./images/sprite.svg#icon-close"
            width="33.64"
            height="33.64"
          ></use>
        </svg>
      </button>
    </div>

    <div class="modal-nav">
      <nav class="modal-nav">
        <ul class="nav-list">
          <li class="nav-item-modal">
            <a href="" class="nav-link">Бестселлери</a>
          </li>
          <li class="nav-item-modal">
            <a href="" class="nav-link">Каталог</a>
          </li>
          <li class="nav-item-modal">
            <a href="" class="nav-link">Доставка</a>
          </li>
          <li class="nav-item-modal">
            <a href="" class="nav-link">Про мене</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="modal-image">
      <img src="./images/phone/Group 57.webp" alt="Тортик:)" />
    </div>
  </div>
</article>
